 <!-- contient le header avec le nom de l'appli et le bouton menu 'More'... créé avec bootstrap
 	-->
  
 <div class="navbar navbar-fixed-top">
      <div class="navbar-inner"> 
        <div class="container">
     <div class="AppName">Grand Tunis
     	
     	
     	<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">   
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
           
  <div class="nav-collapse" align="right">
            <ul class="nav pull-right">
              <li class="active"><a href="">option1</a></li>
              <li><a href="">option2</a></li>
              <li><a href="">option3</a></li>
            
            </ul>
          </div><!--/.nav-collapse -->
          
          
           </div><!--fin AppName -->
           
           
        </div>
        </div>
  </div>
    
    
    