<!-- contient le header avec le nom de l'appli et le bouton menu 'More'
AVEC LES BOUTONS Realité Augmntée et PHOTO géotaguées...
créé avec bootstrap
-->

<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<div class="AppName">
				Grand Tunis

				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </a>

				 <a onclick="callNativePlugin2('success');" ><img src="img/picto-geotag-on.png"  align="right"  /></a>

					 <a onclick="callNativePlugin('success');" ><img src="img/picto-RA-on.png"  align="right"  /></a>
				<div class="nav-collapse" align="right">
					<ul class="nav pull-right">
						<li class="active">
							<a href="index.html">Accueil</a>
						</li>
						<li>
							<a href="about.html">Présentation</a>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>

					</ul>
				</div><!--/.nav-collapse -->

			</div><!--fin AppName -->

		</div>
	</div>
</div>

