<!-- contient le menu principal de l'appli ... Dashbord	 -->
	<div id="menu1"  style="border: solid 1px #fff ">
		<a href="map.html" >
			
			<img id="imageid1" src="img/parcours-img.png" />
			
		</a>
		</div>
		<div id="menu2">
	<a href="map.html" >
		
			<img  src="img/art-img.png" width="50%" style="float: left"/>
	
	</a>
		</div>
		<div id="menu3">
	<a href="map.html">
		
			<img src="img/dormir-img.png" width="50%" style="float: left"/>
		
	</a>
	</div>
	
	<div id="menu4">
	<a href="map.html">
			
			<img src="img/acheter-img.png" width="50%" style="float: left" />
		
	</a>
	</div>
	<div id="menu5">
	<a href="map.html">
		
			<img src="img/manger-img.png" width="50%" style="float: left"/>
		
	
	</a>
	</div>	
	<div id="menu6" style="border: 1px solid #fff">
	<a href="map.html">
		
			<img src="img/EVENT_IMG.png"/>
	

</a>
		</div>

