 
 <!-- contient les boutons 'debutez le voyage' et 'ne plus afficher cet ecran' -->
 	
 <div class="btn_debutez menu" align="center">
	  			<a href="homeMenu.html" class="transition">	<img src="img/orange/accueil-elements/button-accueil.png" width="70%" height= "10%" > </a>
			</div>
			<div class="btn_debutez neplus"  align="center">
		<p>	<a href="homeMenu.html"> 	Ne plus afficher cet ecran </a></p> 
			</div>