

<div align="center" >

			<div id="superposition">
				<img src="img/orange/accueil-elements/accueil-goutte.png" alt="Mon enorme image" height= "41%" width="auto">
				<div id="petite-image-1" class="petite-image">
					<b>Tunis Carthage Sidi Bou Said </b>
					<br>accroche relative Medina 
				</div>
			</div>
			<div >
				<p align="center" style="margin-left: 5%; margin-right: 5%">
				Pour apprecier la medina, essayez de vous detendre et de laisser libre cours a vos envies. Les souks sont un reseau
					de quartiers avec des ruelles. </br>
					Vous ne vous y perdez pas! 
				</p>
			</div>
			</br> 
			<!--<div  id="contenu" >
				<img class ="img" src ="img/orange/accueil-elements/acc-miniature4.png">
				<img class ="img" src="img/orange/accueil-elements/acc-miniature3.png">
				<img class ="img" src="img/orange/accueil-elements/acc-miniature2.png">
				<img class ="img" src="img/orange/accueil-elements/acc-miniature1.png">
			</div>-->
			
		
		<!--Start Carousel-->
          <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active">
               		<img class ="img" src ="img/orange/accueil-elements/acc-miniature4.png">
				</div>
             	<div class="item">
                	<img class ="img" src="img/orange/accueil-elements/acc-miniature3.png">
              	</div>
              	<div class="item">
                	<img class ="img" src="img/orange/accueil-elements/acc-miniature2.png">
                </div>
                 <div class="item">
                	<img class ="img" src="img/orange/accueil-elements/acc-miniature1.png">
              	</div>
              
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev"><img src="img/flechegauche.png" alt="Arrow"></a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next"><img src="img/flechedroite.png" alt="Arrow"></a>
        </div>
      
      	 	
      	 	<!--  menu -->
	<%== can.view.render(  "views/menuView.ejs",{}) %>		
 
</div>
     